/* --secondary: #f000b8; */
:root {
  /* --accent: #37cdbe;
  --primary: #570df8;
  --secondary: var(--material-color-purple-a100);
  --neutral: #3d4451;
  --base-100: #ffffff;
  --info: #3abff8;
  --success: #36d399;
  --warning: #fbbd23;
  --error: #f87272;
  --booksource: #8272d0; */
  /* --material-color-red: #f44336;
  --material-color-red-100: #ffcdd2;
  --material-color-red-300: #e57373;
  --material-color-red-500: var(--material-color-red);
  --material-color-red-700: #d32f2f;
  --material-color-red-900: #b71c1c;
  --material-color-blue-grey: #607d8b;
  --material-color-blue-grey-100: #cfd8dc;
  --material-color-blue-grey-300: #90a4ae;
  --material-color-blue-grey-500: var(--material-color-blue-grey);
  --material-color-blue-grey-700: #455a64;
  --material-color-blue-grey-900: #263238;
  --material-color-brown: #795548;
  --material-color-brown-100: #d7ccc8;
  --material-color-brown-300: #a1887f;
  --material-color-brown-500: var(--material-color-brown);
  --material-color-brown-700: #5d4037;
  --material-color-brown-900: #3e2723; */
}
/* for editor */
.cm-quote {
  color: var(--text-normal) !important;
}

/* for preview */
.markdown-preview-view blockquote {
  border: 2px solid;
  border-color: var(--booksource) !important;
  border-left-width: 2px !important;
  border-radius: 8px 8px 8px 8px;
  font-size: 15px;
  line-height: 1.5em;
  margin: 10px 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.markdown-preview-view.markdown-rendered.node-insert-event.show-indentation-guide
  .markdown-preview-sizer.markdown-preview-section {
  padding-left: 2rem;
}
/* Remove scroll on embeds. */
.markdown-source-view 
.internal-embed.markdown-embed.is-loaded[alt*="ui-noscroll"] 
.markdown-embed-content 
.markdown-preview-view.markdown-rendered.node-insert-event.show-indentation-guide
  .markdown-preview-sizer.markdown-preview-section {
    overflow: hidden;
}

.markdown-preview-view blockquote {
  position: relative;
}

.markdown-preview-view blockquote:after {
  content: "\201C";
  position: absolute;
  top: 0.3em;
  left: -0.45em;
  font-size: 6em;
  color: #d9d4f0;
}

/* if paraphrasing, wrap your quote in (i want to deprecate this)
 <blockquote class=paraphrase>text</blockquote> 
*/

.markdown-preview-view blockquote.paraphrase:after {
  display: none;
}

/* for citations */

cite {
  background-color: var(--booksource);
  color: white;
  margin-left: -10px;
  margin-right: -10px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: right;
  display: block;
}

cite a:link {
  color: white;
}

/** # custominging paraphrasing by using nested blockquotes **/

/* 💀 */

/* preview mode print? */
/* .markdown-preview-view blockquote blockquote:after {
  content: '\1FA82';
  position: absolute;
  top: 0.3em;
  left: -0.45em;
  font-size: 3em;
  color: #d9d4f0;
} */

.workspace-leaf-content
  .floating-toc-div.floating-left
  ~ .markdown-reading-view
  .markdown-preview-view {
  padding-left: 0.1em;
}

/* ## Customize the colons for indentingg */
.markdown-rendered h2::before {
  content: ": ";
  position: relative;
  left: -0.05em;
  color: var(--accent);
}
.markdown-rendered h3::before {
  content: ":: ";
  position: relative;
  left: -0.05em;
  color: var(--accent);
}
.markdown-rendered h4::before {
  content: "::: ";
  position: relative;
  left: -0.05em;
  color: var(--accent);
}
.markdown-rendered h5::before {
  content: ":::: ";
  position: relative;
  left: -0.05em;
  color: var(--accent);
}

/*** preview mode end****/

/** : Tranclusion/Embed sections */

/* :: hide file name on transcludes */
.internal-embed[alt*="nlk"] .embed-title.markdown-embed-title {
  display: none;
}

/** :: hide transcluded headers for nlk **/
.internal-embed[alt*="nlk"].markdown-embed
  .markdown-preview-sizer
  > div:nth-of-type(3) {
  display: none;
}

.internal-embed[alt*="nlk"].markdown-embed,
.internal-embed[alt*="nlk"].markdown-embed
  .markdown-preview-sizer.markdown-preview-section {
  padding: 0 !important;
  padding-left: 5px !important;
}

/* when previewing nlk */
span[alt*="nlk"].internal-embed.markdown-embed {
  padding: 0;
}
span[alt*="nlk"].internal-embed.markdown-embed
  .markdown-preview-sizer.markdown-preview-section {
  padding-left: 0 !important;
}

/** :: no pointer links **/

.internal-embed[alt*="nlk"] .embed-title.markdown-embed-title {
  display: none;
}

/*  # OLK */
/** :: hide transcluded headers for olk (omit linkage) **/
.internal-embed[alt*="olk"].markdown-embed
  .markdown-preview-sizer
  > div:nth-of-type(3) {
  display: none;
}
/*  ## OLK::Remove Scrollbar */
.internal-embed.markdown-embed[alt*="olk"] .markdown-embed-title .markdown-preview-view.markdown-rendered.show-indentation-guide.allow-fold-headings.allow-fold-lists {
  overflow: hidden;
}

/* This one works */
.internal-embed[alt*="olk"].markdown-embed,
.internal-embed[alt*="olk"].markdown-embed
  .markdown-preview-sizer.markdown-preview-section {
  padding: 0 !important;
  padding-left: 5px !important;
  pointer-events: none;
}


/** WORKING EMBED CONTAINER **/
.internal-embed.markdown-embed.inline-embed.is-loaded {
  padding-left: 0 !important;
}

/*  Code-block in Reading view embeds  */
.markdown-reading-view .internal-embed.markdown-embed.inline-embed.is-loaded .markdown-embed-content .markdown-preview-view.markdown-rendered {
  background: var(--tertiary-blue-700);
  border-radius: 0 .2em 0 0;
}

/* # UI Alias Helpers For Transcluded Content */
/* ## Centering */
.internal-embed[alt*="ui-center"].markdown-embed.inline-embed.is-loaded {
  display: flex;
  justify-content: center;
}

/* # Cornell */
.internal-embed[alt*="ui-cornell"].markdown-embed.inline-embed.is-loaded {
  transform:translate(-110%,-65%);
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  max-height: 10rem;
  overflow-y:scroll;
  margin-bottom: -9rem !important;
}
.internal-embed[alt*="ui-cornell"].markdown-embed.inline-embed.is-loaded 
.markdown-embed-content {
  width: 18em;
  filter: hue-rotate(90deg);
}
.internal-embed[alt*="ui-cornell"].markdown-embed.inline-embed.is-loaded 
.markdown-embed-content .markdown-preview-view.markdown-rendered .markdown-preview-sizer {
  min-height: 0px !important;
}


/* ## Cornell Callout */

.markdown-source-view.mod-cm6 
.cm-contentContainer {
  container-type: inline-size;

}
:root {
  --ui-cornell-width: 20vw;
}


.markdown-reading-view
.callout[data-callout="ui-cornell"] {
  --callout-color: 222,222,222;
  background: var(--material-color-brown-900)
}

.markdown-source-view.mod-cm6 
.cm-embed-block.cm-callout:has(>
.markdown-rendered
.callout[data-callout="ui-cornell"]) 
div.markdown-embed-content 
.block-language-dataviewjs p {
  overflow-y: scroll;
  /* max-width: 90%; */

  /* max-width: var(--ui-cornell-width) */
}
.markdown-reading-view.mod-cm6 
.cm-embed-block.cm-callout:has(>
.markdown-rendered
.callout[data-callout="ui-cornell"]) 
div.markdown-embed-content 
.block-language-dataviewjs p {
  overflow-y: scroll;
  /* max-width: 90%; */
  /* max-width: var(--ui-cornell-width) */
}

.markdown-reading-view
.callout[data-callout="ui-cornell"]
.markdown-embed-content
.markdown-rendered
.markdown-preview-sizer.markdown-preview-section {
  margin: 0 !important;
}
.markdown-reading-view
.callout[data-callout="ui-cornell"]
.markdown-embed-content
.markdown-rendered
.markdown-preview-sizer.markdown-preview-section 
.block-language-dataviewjs p{
  /* width: auto !important; */
}

/*  on any width greater than normal CORNELL SIDE the callout*/
@container (min-width : 90cqw) {
  .markdown-source-view.mod-cm6 
  .cm-embed-block.cm-callout:has( > .markdown-rendered .callout[data-callout="ui-cornell"]):not(:hover) {
    --callout-color: 222,222,222;
    background: var(--material-color-brown-900);
    filter: blur(5px);
    
  }


  .markdown-source-view.mod-cm6 
  .cm-embed-block.cm-callout:has(>
  .markdown-rendered
  .callout[data-callout="ui-cornell"]) {
    
    transform:translate(-200%,75%);
    display: flex !important;
    justify-content: flex-end;
    flex-wrap: wrap;
    max-height: 10vw;
    overflow-y: scroll;
    max-width: 20ch !important;

    /* width: calc(var(--ui-cornell-width) + 3vw); */
    margin-bottom: -2cqw !important;
  }
  /* .markdown-source-view.mod-cm6 
  .cm-embed-block.cm-callout:has(>
  .markdown-rendered
  .callout[data-callout="ui-cornell"]) + .cm-line:before {
    content: "Cornell box above";
    display: block;
    background: var(--tertiary-blue-800) !important;
    width: 100%;
    padding: .5em .5em;
    border-radius: 0em 0 1em 1em;
  } */
  /* .markdown-source-view.mod-cm6 
  .cm-embed-block.cm-callout:has(>
  .markdown-rendered
  .callout[data-callout="ui-cornell"]):before {
    content: "Click Me To Edit";
    display: block;
    background: var(--tertiary-blue-800);
    width: 100%;
    padding: .5em .5em;
    border-radius: 1em 1em 0em 0em;
  }
  .markdown-source-view.mod-cm6 
  .cm-embed-block.cm-callout:has(>
  .markdown-rendered
  .callout[data-callout="ui-cornell"]):after {
    content: "Click Me To Edit";
    display: block;
    background: var(--tertiary-blue-800);
    width: 100%;
    padding: .5em .5em;
    border-radius: 0em 0 1em 1em;
  } */

  .markdown-source-view.mod-cm6 
  .cm-embed-block.cm-callout:has(
    > .markdown-rendered
    .callout[data-callout="ui-cornell"]) div.markdown-embed-content .block-language-dataviewjs p {
    overflow-y: scroll;
    /* max-width: var(--ui-cornell-width); */
    height: fit-content;
  }
}


.markdown-source-view 
.markdown-rendered 
.callout[data-callout="ui-cornell"] 
.callout-title .callout-title-inner{
  /* margin-left: .5em; */
  /* max-width: 98% !important; */
}
.markdown-reading-view 
.markdown-rendered 
.callout[data-callout="ui-cornell"] 
.callout-title .callout-title-inner{
  /* margin-left: .5em; */
  /* max-width: 98% !important; */
}

/* ---------   -------- */





/* # Code block in source mode */
.cm-preview-code-block.cm-embed-block.markdown-rendered
  .block-language-dataview {
  border: 2px solid var(--material-color-deep-orange);
  border-right-width: 1em;
  background-image: var(--dark-blue-grad);
}

.cm-preview-code-block.cm-embed-block.markdown-rendered .block-language-dataviewjs {
  border: 2px solid var(--material-color-deep-orange);
  border-radius: .5em .5em;
}



/* data view container in reading view */
.markdown-reading-view .markdown-preview-view.markdown-rendered .markdown-preview-sizer 
div.block-language-dataview 
.dataview.dataview-container {

/* 
  background-image: var(--mm-image), var(--anu-image);
  background-attachment: fixed;
  background-blend-mode: multiply; */
}
/* Source view content container brightness */
.markdown-source-view .cm-contentContainer {
  border-radius: 1.5em 1.5em;
  /* level 2 */
  background: var(--shade);
  min-height: 50vh;
  margin: 0 1em;
}
.markdown-source-view .block-language-dataview,
.markdown-reading-view .block-language-dataview {
  border: 2px solid var(--material-color-deep-orange);
  border-radius: 1em 1em;
  background: var(--shade);
}


 /* # H1 styling Source */

 /* ## H1 reading view */
 .markdown-reading-view .markdown-preview-sizer.markdown-preview-section h1[data-heading] {
  background: var(--material-color-deep-orange-900);
  border: 2px solid var(--material-color-brown-900);
  color: var(--material-color-brown-50);
  padding: 0.2em 1em;
  border-radius: 0.5em 1.8em 0.3em 0.5em;
 }
 /* ## H1 source view */
 .markdown-source-view .cm-contentContainer .HyperMD-header.HyperMD-header-1.cm-line {
  background: var(--material-color-deep-orange-800);
  border: 2px solid var(--material-color-brown-900);
  color: var(--material-color-brown-50);
  padding: 0.2em 1em;
  border-radius: 0.5em 1.8em 0.3em 0.5em;
}

/* ## H1 when there is a tag inside it.  */
.markdown-source-view .cm-contentContainer .HyperMD-header.HyperMD-header-1.cm-line:has(> span.cm-hashtag) {
  background: var(--material-color-indigo-900);
  outline: 2px solid --material-color-deep-orange-300;
}
.markdown-source-view .cm-contentContainer .HyperMD-header.HyperMD-header-1.cm-line:has(> span.cm-hashtag) > span {
  background-color: unset;;
  color: var(--material-color-deep-orange-300);
  /* font: small-caption; */
}
/* on hover blinks */
.markdown-source-view .cm-contentContainer .HyperMD-header.HyperMD-header-1.cm-line:has(> span.cm-hashtag):hover > span {
  background-color: unset;;
  color: var(--material-color-deep-orange-200);
  /* font: small-caption */
}

.markdown-reading-view .markdown-preview-sizer.markdown-preview-section h1[data-heading] > a.tag,
.cm-contentContainer .HyperMD-header.HyperMD-header-1.cm-line > span ~ span {
  border: unset;
  padding: 0.05em 0.05em;
  /* color: var(--tertiary-blue-900); */
}
.cm-contentContainer .HyperMD-header HyperMD-header-1.cm-line + .HyperMD-header.HyperMD-header-1.cm-line {
  background: var(--material-color-deep-orange-800);
  outline: 2px solid var(--material-color-brown-900);
  /* color: var(--material-color-brown-50); */
  color: var(--material-color-brown-50);
  /* padding: 0.2em 1em; */
  border-radius: 0.5em 1.8em 0.3em 0.5em;
}


/* Reading view content container */
.markdown-reading-view .markdown-preview-sizer.markdown-preview-section {
  /* level 2 */
  margin: 0 2em;
  border-radius: 1.5em 1.5em;
  background: var(--shade);
}

/* # H1 styling */
/* .markdown-preview-sizer.markdown-preview-section h1[data-heading="-"] {
  background: var(--material-color-deep-orange-900) !important;
}*/
.markdown-source-view .markdown-embed-content .markdown-preview-sizer.markdown-preview-section h1[data-heading="="] {
  background: var(--material-color-deep-orange-900);
  outline: 2px solid var(--material-color-brown-700);
  padding: 0.1em 2em;
  color: var(--tertiary-blue-800);
  border-radius: 0 0 50px 50px;
} 

/* note background blue glass color */
.markdown-preview-sizer.markdown-preview-section h1[data-heading^="---"] {
  background: var(--material-color-red-900);
  border: 2px dashed var(--material-color-brown-700);
  padding: 0.2em 3em;
  border-radius: 0.5em 1.8em 0.3em 0.5em;
}
/* .HyperMD-header.HyperMD-header-1.cm-line {
  background: var(--material-color-red-900);
  border: 2px dashed var(--material-color-brown-700);
  padding: 0.2em 0.1em;
  border-radius: 0.5em 1.8em 0.3em 0.5em;
} */

/* little dots */
/* .HyperMD-header.HyperMD-header-1.cm-line {
  background: var(--material-color-brown-900);
  border: 2px solid var(--material-color-red-700);
  color: var(--material-color-blue-grey-300);
  padding: 0.2em 0.1em;
  border-radius: 0.5em 1.8em 0.3em 0.5em;
} */

.HyperMD-header.HyperMD-header-1.cm-line:has(.is-collapsed)
  > .cm-header.cm-header-1::before {
  content: "";
  position: relative;
  left: -0.05em;
  color: var(--accent);
}


/* # H2 Styling */

.HyperMD-header.HyperMD-header-2.cm-line:has(.is-collapsed)
  > .cm-header.cm-header-2::before {
  content: ": ";
  position: relative;
  left: -0.05em;
  color: var(--accent);
}
.HyperMD-header.HyperMD-header-3.cm-line:has(.is-collapsed)
  > .cm-header.cm-header-3::before {
  content: ":: ";
  position: relative;
  left: -0.05em;
  color: var(--accent);
}
.HyperMD-header.HyperMD-header-4.cm-line:has(.is-collapsed)
  > .cm-header.cm-header-4::before {
  content: "::: ";
  position: relative;
  left: -0.05em;
  color: var(--accent);
}
.HyperMD-header.HyperMD-header-5.cm-line:has(.is-collapsed)
  > .cm-header.cm-header-5::before {
  content: ":::: ";
  position: relative;
  left: -0.05em;
  color: var(--accent);
}

.HyperMD-header.HyperMD-header-2.cm-line > *:last-child::before {
  content: ": ";
  position: relative;
  left: -0.05em;
  color: var(--accent);
}

.HyperMD-header.HyperMD-header-3.cm-line > *:last-child::before {
  content: ":: ";
  position: relative;
  left: -0.05em;
  color: var(--accent);
}
.HyperMD-header.HyperMD-header-4.cm-line > *:last-child::before {
  content: "::: ";
  position: relative;
  left: -0.05em;
  color: var(--accent);
}

.HyperMD-header.HyperMD-header-5.cm-line > *:last-child::before {
  content: ":::: ";
  position: relative;
  left: -0.05em;
  color: var(--accent);
}

.is-flashing {
  color: var(--warning);
}
.image-captions-caption {
  padding: 1em 0;
}

/* # Bold Text in dark mode must be more visible */
.theme-dark {
  --bold-weight: 700;
  --bold-color: var(--material-color-brown-300);
}
.theme-light {
  --bold-color: #010f59;
}

/* i hate the margins on the transcluded checkboxes dataview */
/* .dataview.dataview-container .contains-task-list {
  padding-left: 8px !important;
} */
